# Project 4 -- Kennedy Zapalac

**TA Help:** N/A
**Collaboration:** N/A
**Website**

- [How to print the 5th line for question 2](https://www.geeksforgeeks.org/write-bash-script-print-particular-line-file/)

## Question 1
Please use commands `head`, `tr` and `wc` to find out how many words occur in the first 10 lines of the file `/anvil/projects/tdm/data/stackoverflow/unprocessed/2011.csv`

In [2]:
%%bash
# when I run wc, this file looks like it has 0 lines even though it contains data!
echo "Lines in the csv intially:"
cat /anvil/projects/tdm/data/stackoverflow/unprocessed/2011.csv | wc -l
# split the columns (indicated with commas) into new lines and count words in the first 10 lines
echo "Words in the first 10 lines split by commas:"
cat /anvil/projects/tdm/data/stackoverflow/unprocessed/2011.csv | tr ',' '\n' | head -n10 | wc -w

Lines in the csv intially:
0
Words in the first 10 lines split by commas:
81

81 words occur in the first 10 lines of the file once I create new lines at each comma.

## Question 2
Letâ€™s turn our attention to a different file. Use `awk` to find out how many columns appear in the fifth row of the file `/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales_cleaner.txt`

`awk` is a tool for processing rectangular data (spreadsheet). You can specify something for awk to do before processing the data, how you want awk to process every line of data, and then what you want awk to do once after you've processed the data.
`awk 'BEGIN{ put-the-preliminary-stuff-here } { put-the-main-stuff-here } END{ put-the-ending-stuff-here }'`
The BEGIN and END sections are optional, and often you will only put something in the main section.

In [11]:
%%bash
# grabbing the 5th line to see what it is
echo "This is what the 5th line looks like:"
head /anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales_cleaner.txt | head -n5 | tail -n1
# set the field separator as ";" and specified that awk should only print the number of fields for the 5th row of the file provided
echo "Number of fields in the 5th row:"
awk -F";" '{if(NR==5) print NF}' /anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales_cleaner.txt

This is what the 5th line looks like:
S07453200005;08/30/2012;4680;AFAL FOOD & LIQUOR / DES MOINES;4121 SE 14TH ST;DES MOINES;50320;POINT (-93.596755 41.5464);77;POLK;1051010;AMERICAN GRAPE BRANDIES;205;E AND J GALLO WINERY;52594;E & J VS BRANDY;24;375;2.93;4.4;3;13.2;1.12;0.3
Number of fields in the 5th row:
24

There are 24 columns in the 5th row.

## Question 3
Use UNIX commands to find out what are the 6 highest 'state bottle retail' prices from the file `/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales_cleaner.txt` and what are the analogous item descriptions for these 6 items? (Some are repeated, and that is OK.)

In [19]:
%%bash
# prints the state bottle retail price and item description fields, sorts by price in descending order, and returns the 6 most expensive items
cat /anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales_cleaner.txt | awk -F';' '{print $20","$16}' | sort -nr | head -n6

27654,GLENGOYNE SINGLE MALT SCOTCH 50YR DECANTER
11520,CEDAR RIDGE RESERVE BOURBON PRIVATE CASK DNO
9702,CEDAR RIDGE RYE WHISKEY - WHOLE CASK BUY
9702,CEDAR RIDGE RYE WHISKEY - WHOLE CASK BUY
9150,CEDAR RIDGE MALTED RYE BARREL URBANDALE
9150,CEDAR RIDGE MALTED RYE BARREL MARION

The output above displays the state bottle retail prices and the item descriptions of the most expensive items from the Iowa Liquor Sales file

## Question 4
Please find out how many times each bottle volume appears in the file

In [24]:
%%bash
# grabbing the bottle volume field, sorting by the bottle volume (must specify it's a number rather than a string) which must be done before using uniq because uniq counts the duplicate values that are right next to each other, and counting how many times each bottle volume appears in the file
cat /anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales_cleaner.txt | cut -d';' -f10 | sort -n | uniq -c

 159490
  56480 ADAIR
  22679 ADAMS
 109023 ALLAMAKEE
  93731 APPANOOSE
  29683 AUDUBON
 132496 BENTON
1502321 BLACK HAWK
 193428 BOONE
 207767 BREMER
 149543 BUCHANAN
 224961 BUENA VISTA
  47087 BUTLER
  41711 CALHOUN
 196268 CARROLL
 121166 CASS
 106261 CEDAR
 587207 CERRO GORDO
  92610 CHEROKEE
  42915 CHICKASAW
  67717 CLARKE
 186328 CLAY
 117847 CLAYTON
 379655 CLINTON
 107572 CRAWFORD
      1 County
 336164 DALLAS
  19472 DAVIS
  24001 DECATUR
  85548 DELAWARE
 402985 DES MOINES
 348179 DICKINSON
 771917 DUBUQUE
      2 EL PASO
  67012 EMMET
 117658 FAYETTE
 110431 FLOYD
  70307 FRANKLIN
   6767 FREMONT
  59923 GREENE
  48922 GRUNDY
  54872 GUTHRIE
 123848 HAMILTON
  42913 HANCOCK
 166711 HARDIN
 108804 HARRISON
 105464 HENRY
  76466 HOWARD
  65289 HUMBOLDT
  63432 IDA
 162752 IOWA
 143149 JACKSON
 246942 JASPER
  94012 JEFFERSON
1339423 JOHNSON
 174528 JONES
  48855 KEOKUK
 153119 KOSSUTH
 315931 LEE
2246222 LINN
  47671 LOUISA
  60064 LUCAS
 110080 LYON
  96061 MADISON
 139638 MAHASKA
 253500 MARION
 314308 MARSHALL
  77177 MILLS
  80963 MITCHELL
 120378 MONONA
  37020 MONROE
  72187 MONTGOMERY
 394964 MUSCATINE
 177988 O'BRIEN
  37768 OSCEOLA
 135199 PAGE
 112900 PALO ALTO
 156028 PLYMOUTH
  49601 POCAHONTAS
4995804 POLK
 885334 POTTAWATTAMIE
 214344 POWESHIEK
  17951 RINGGOLD
  87608 SAC
1625367 SCOTT
  71729 SHELBY
 157036 SIOUX
 850504 STORY
  91279 TAMA
  26435 TAYLOR
 114041 UNION
  27487 VAN BUREN
 306387 WAPELLO
 251442 WARREN
 162467 WASHINGTON
  21171 WAYNE
 306543 WEBSTER
  93033 WINNEBAGO
 136150 WINNESHIEK
 840786 WOODBURY
  38348 WORTH
  77436 WRIGHT

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.