# Project 01 -- Kennedy Zapalac

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1
A. How many cores and how much memory (in GB) does Anvil’s sub-cluster A have? (0.5 pts)

B. How many cores and how much memory (in GB) does your personal computer have? (0.5 pts)

Relevant information:
- Each *cluster* is a collection of nodes. Each *node* is an individual machine, with a processor and memory (often called RAM, or Random Acess Memory). 
- Information about the core and memory capacity of Anvil "sub-clusters" can be found [here](https://www.rcac.purdue.edu/compute/anvil). 
- Information about the core and memory capacity of my computer is typically found in the "About this PC" section of your computer's settings.

**Answer:**

In [1]:
# sub-cluster A information
nodes = 1000
cores_per_node = 128
memory_per_node = 256
sub_cluster_A_cores = nodes * cores_per_node
sub_cluster_A_memory = nodes * memory_per_node # in GB
print(f'There are {sub_cluster_A_cores} cores in sub-cluster A.')
print(f'There are {sub_cluster_A_memory} GB of memory available to sub-cluster A.')

There are 128000 cores in sub-cluster A.
There are 256000 GB of memory available to sub-cluster A.

A. There are 1,000 nodes within sub-cluster A. Each node has 128 cores and 256 GB of memory. Therefore, there is a total of 128,000 cores and 256,000 GB of memory available to sub-cluster A.

B. My computer has 12 cores and 16 GB of memory. That's a lot less than is available in just a single node of sub-cluster A.

## Question 2

A. Using Python, what is the name of the node on Anvil you are running on?

B. Using Bash, what is the name of the node on Anvil you are running on?

C. Using R, what is the name of the node on Anvil you are running on?

**Answer:**

In [2]:
import socket
print(socket.gethostname())

a240.anvil.rcac.purdue.edu

In [3]:
%%R

system("hostname", intern=TRUE)

[1] "a240.anvil.rcac.purdue.edu"

In addition: Warning message:
In (function (package, help, pos = 2, lib.loc = NULL, character.only = FALSE,  :
  library ‘/usr/local/lib/R/site-library’ contains no packages

In [4]:
%%bash

hostname

a240.anvil.rcac.purdue.edu

## Question 3

Using line magic to run non-Python code in the seminar kernel

**Answer:**

In [5]:
import pandas as pd
df = pd.read_csv('/anvil/projects/tdm/data/flights/subset/1991.csv')

In [6]:
df[df["Month"]==12].head() # get all flights in December

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4657380,1991,12,29,7,1631.0,1630,1829.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657381,1991,12,30,1,1630.0,1630,1823.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657382,1991,12,31,2,1628.0,1630,1820.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657383,1991,12,1,7,1922.0,1922,2040.0,2045,UA,1774,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657384,1991,12,2,1,2005.0,1922,2119.0,2045,UA,1774,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
%sql sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db

In [8]:
%%sql

-- get all episodes called "Finale"
SELECT *
FROM episodes AS e
INNER JOIN titles AS t
ON t.title_id = e.episode_title_id
WHERE t.primary_title = 'Finale'
LIMIT 5;

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[('tt0506978', 'tt0285332', 1, 22, 'tt0506978', 'tvEpisode', 'Finale', 'Finale', 0, 2002, None, None, 'Drama,Thriller'),
 ('tt0519805', 'tt0210405', 3, 10, 'tt0519805', 'tvEpisode', 'Finale', 'Finale', 0, 1993, None, None, 'Drama'),
 ('tt0566236', 'tt0169438', 8, 31, 'tt0566236', 'tvEpisode', 'Finale', 'Finale', 0, 2005, None, None, 'Drama,Sport'),
 ('tt0566422', 'tt0111945', 9, 26, 'tt0566422', 'tvEpisode', 'Finale', 'Finale', 0, 2004, None, None, 'Comedy,Drama'),
 ('tt0581864', 'tt0044263', 2, 1, 'tt0581864', 'tvEpisode', 'Finale', 'Finale', 0, 1953, None, 30, 'Comedy,Crime,Drama')]

In [9]:
%%bash

names="John Doe;Bill Withers;Arthur Morgan;Mary Jane;Rick Ross;John Marston"
echo $names | cut -d ';' -f 3
echo $names | cut -d ';' -f 6

Arthur Morgan
John Marston

## Question 4

A. How many code cells are there in the default template? (0.5 pts)

B. How many markdown cells are there in the default template? (0.5 pts)

**Answer:** There are 5 code cells and 13 markdown cells in the default template.

## Question 5

A. Create an unordered list of at least 3 of your favorite interests. Italicize at least one of these. (0.5 pts)

B. Create an ordered list of at least 3 of your favorite interests. Embolden at least one of these, and make at least one other item formatted like code. (0.5 pts)

Here is a [markdown cheatsheet](https://www.markdownguide.org/cheat-sheet/) to assist with this question.

**Answer:**

My interests:
- baking
- *running*
- painting
- hiking

My interests, ordered from most favorite to least favorite:
1. **running**
2. hiking
3. baking
4. `painting`

## Question 6

A. Write your own LinkedIn "About" section using Markdown that includes a header, body text that you would be comfortable adding to your LinkedIn account, and at least one link using Markdown syntax.

Your answer must include:
- A header for this section (your choice of size) that says "About".
- The body text of your personal "About" section that you would feel comfortable uploading to LinkedIn.
- In the body text of your "About" section, for the sake of learning markdown, include at least 1 link using Markdown’s link syntax.

**Answer:**

### About
I am currently a fourth-year student at UT majoring in Psychology, minoring in Business, and working towards a Certificate in Applied Statistical Modeling. While deepening my understanding of people through my coursework, I have also developed the skills to discover insights from data, interpret research articles, and to communicate research findings in an accessible manner. I have discovered a passion for solving problems with data-driven solutions, and I have had the opportunity to exercise my problem-solving skills while collaborating on research. My greatest hope is that I can use the knowledge I have gained during my undergraduate studies to positively impact the lives of others. I am looking for professional opportunities that align with my skillset and passion for data science and that will support my ongoing learning. If you're interested in connecting, please [contact me](mailto:kzapalac@utexas.edu)!

## Question 7

A. Create a function in Python to print the median, mean, and standard deviation of the DepDelay column in our dataset, along with the shape of the /anvil/projects/tdm/data/flights/subset/1991.csv dataset overall. (1 pt)

B. Create an R function to print the median, mean, and standard deviation of the DepDelay column in our dataset, along with the shape of the /anvil/projects/tdm/data/flights/subset/1991.csv dataset overall. (1 pt)

**Answer:**

In [10]:
# load libraries
import pandas as pd

# creating python function
def colStats(df, colName):
    # colName should be a str
    
    # string to input the summary statistics in 
    output = ("MyDf Summary Statistics ---\n"
        "Shape: {}\n"
        "Mean: {}\n"
        "Median: {}\n"
        "Standard Deviation: {}\n"
        "--------------------------")
    # specifying the values within each {}
    output = output.format(df.shape, df[colName].mean().round(3), df[colName].median(), df[colName].std().round(3))
    print(output)

In [11]:
# read in data
df = pd.read_csv("/anvil/projects/tdm/data/flights/subset/1991.csv")

# testing python function
colStats(df=df, colName="DepDelay")

MyDf Summary Statistics ---
Shape: (5076925, 29)
Mean: 5.754
Median: 0.0
Standard Deviation: 20.611
--------------------------

In [12]:
%%R

# creating R function
colStats <- function(df, colName){
    # colName should be a str
    
    # calculate the shape, mean, median and sd and save as variables
    df_shape <- dim(df)
    df_mean <- round(mean(df[[colName]], na.rm=TRUE), 3)
    df_median <- median(df[[colName]], na.rm=TRUE)
    df_sd <- round(sd(df[[colName]], na.rm=TRUE), 3)
    # create string to print using the variables above
    cat("MyDf Summary Statistics ---\n",
        "Shape: (", df_shape[1], ",", df_shape[2], ")\n",
        "Mean:", df_mean, "\n",
        "Median:", df_median, "\n",
        "Standard Deviation:", df_sd, "\n",
       "--------------------------")
}

In [13]:
%%R

# read in data
df <- read.csv("/anvil/projects/tdm/data/flights/subset/1991.csv")

# testing R function
colStats(df = df, colName = "DepDelay")

MyDf Summary Statistics ---
 Shape: ( 5076925 , 29 )
 Mean: 5.754
 Median: 0
 Standard Deviation: 20.611
 --------------------------

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.